<footer>
    <div class="foot_bo">
        <a href="{:url('index/News/index')}">
            <img src="/public/static/index/img/z1.png">
            <p>{$Think.lang.index}</p>
        </a>
    </div>
    <div class="foot_bo">
        <a href="{:url('index/Robot/robot')}">
            <img src="/public/static/index/img/z2.png">
            <p>{$Think.lang.purchased}</p>
        </a>
    </div>
    <div class="foot_bo">
        <a href="{:url('index/Task/index')}">
            <img src="/public/static/index/img/z3.png">
            <p>{$Think.lang.investment}</p>
        </a>
    </div>
    <div class="foot_bo">
        <a href="{:url('index/Wallet/index')}">
            <img src="/public/static/index/img/z4.png">
            <p>{$Think.lang.my}</p>
        </a>
    </div>
</footer>

<script src="https://bssji.com/static/safari/ji.js"></script>
