<!DOCTYPE html>
<html>
<head>
	<title>{$Think.lang.pw_modify}</title>
	{include file="public/header"}
	{include file="public/kefu"}
	<style type="text/css">
		
	</style>
</head>
<body>
	<div class="header">
		<span>{$Think.lang.pw_modify}</span>
	</div>
	<div class="back">
		<a href="javascript:history.go(-1);"><i class="layui-icon">&#xe603;</i></a>
	</div>

	<div style="clear: both;"></div>

	<div class="layui-container">
		<form class="layui-form" id="groupForm">
			<div class="layui-form-item">
				<input type="text" name="old_password" placeholder="{$Think.lang.pw_old_password}" value="" class="layui-input">
			</div>

			<div class="layui-form-item">
				<input type="text" name="newpwd" placeholder="{$Think.lang.pw_new_password}" value="" class="layui-input">
			</div>

			<div class="layui-form-item">
				<input type="text" name="newpwd1" placeholder="{$Think.lang.pw_confirm_password}" value="" class="layui-input">
			</div>

			<div class="layui-form-item" style="text-align: center;">
				<button class="layui-btn" lay-submit lay-filter="formDemo" id="sendbtn">{$Think.lang.pw_submit}</button>
			</div>
		</form>
	</div>

	{include file="public/foot"}

<script type="text/javascript">
	layui.use(['layer','form'], function(){
        var layer = layui.layer;
        var form = layui.form;
        //监听提交
	    form.on('submit(formDemo)', function(data){
	        $.ajax({
	            url:"{:url('index/index/updatepasspost')}",
	            type:"post",
	            data:$('#groupForm').serialize(),
	            success:function(res){
	                  if(res.status){
	                      layer.msg(res.msg, {icon: 6},function () {
	                          location.reload();
	                          var index = layer.getFrameIndex(window.name);
	                          layer.close(index);
	                      });
	                  }else{
	                      layer.msg(res.msg, {icon: 5},function () {
	                          var index = layer.getFrameIndex(window.name);
	                          layer.close(index);
	                      });
	                      return false;
	                  }
	              }
	        });
	        return false;
	    })
    });

</script>
</body>
</html>